//fonts
$font-primary: "Heebo";

//colors
$red: #f2545b;
$dark-red: #a93f55;
$light-red: #ff8d93;
$dark-blue: #1c2f44;
$grey: rgb(195, 195, 195);
$dark-grey: rgb(78, 78, 78);
$gunmetal: #19323c;
$white: #f3f7f0;
$jeans: #2f4e72;
$light-blue: #3988bd;
$review-card1-color: rgb(67, 49, 255);

//sizes
$page-min-width: 300px;
$header-height: 4em;
$hero-height: 700px;
$about-height: 600px;
$carousel-height: 800px;
$reviews-height: 1100px;
$wave-height: 200px;
$card-width: 175px;
$card-height: 250px;

//breakpoints
$breakpoint-mobile: 570px;
$breakpoint-tablet: 765px;
$breakpoint-desktop: 1100px;
